<!-- flex-container -->
<div class="h-full flex flex-col">
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    <mat-sidenav-container class="flex-grow">
        <mat-sidenav mode="side" [opened]="isSidebarOpen" class="w-60 bg-gray-100 border-r-0">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content class="bg-gray-100">
            <div class="h-full flex flex-col">
                <div class="flex-grow container px-6 my-4">
                    <router-outlet></router-outlet>
                </div>
                <app-footer></app-footer>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>