.flex-container {
  height: 100%;
  display: flex;
}

mat-drawer-container {
    flex: 1 0 auto;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
}

app-header,
app-footer {
  flex: 0 0 auto;
}

.page-content {
  flex: 1 0 auto;
  padding: 1.5rem;
}

mat-drawer {
  width: 250px;
}
